<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Tell us more about your coworking-space</h3>
    <%= simple_form_for @coworking_space do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :zip %>
      <%= f.input :country %>
      <%= f.input :capacity %>
      <%= f.input :services %>
      <%= f.input :price %>
      <%= f.input :short_desc %>
      <%= f.input :long_desc %>
      <%= f.submit "add a coworking_space", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
