<div class="container">
  <h2 class="text-center" style="margin-bottom: 20px">Your Booking: <%= @booking.coworking_space.name  %></h2>
  <div class="row" style="margin-bottom: 20px">
    <div class="col-md-6">
      <div>
        <%= cl_image_tag "#{@booking.coworking_space.photo}",height: 350, width: 550, :crop=>"fill" %>
      </div>
    </div>
    <div class="col-md-6">
      <p>
        <strong>Dates reserved :</strong>
        <%= Date.parse(@booking.start_datetime).strftime("%A, %b %d") %> until <%= Date.parse(@booking.end_datetime).strftime("%A, %b %d") %>
      </p>
      <p>
        <strong>Price for a day:</strong>
        <%= @booking.coworking_space.price%> $
      </p>
      <p>
        <strong>Total Price:</strong>
        <%= @booking.calc_total_price %> $
      </p>
      <p>
        <strong>Services available:</strong>
        <%= @booking.coworking_space.services %>
      </p>
      <p>
        <strong>Total Days Booked:</strong>
        <%= @booking.calc_total_days_booked %> days
      </p>
      <p>
        <strong>Location:</strong>
        <%= @booking.coworking_space.address %>
      </p>
      <p>
        <strong>Capacity:</strong>
        <%= @booking.coworking_space.capacity %> seats
      </p>
    </div>
  </div>
  <div class="text-center">
    <%= link_to 'My dashboard', mydashboard_path, class: "btn btn-primary btn-bottom" %>
  </div>
</div>

