<h2>Bookings:</h2>
Thank you for your reservation, happy coworking:
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="card-booking">
        <div class="card-title">
         <a href="https://www.outpost-asia.com/" class="btn-treehouse"> <%= @booking.coworking_space.name %> </a>
       </div>
       <div class="card-content">
        <div class="card-image">
          <%= image_tag "https://picsum.photos/150/150" %>
        </div>

        <div class="card-text">

          <div class="card-date">
            <p>
              Dates reserved :
              From: < <%= @booking.start_datetime %> <  To: < <%= @booking.end_datetime %> >
            </p>
          </div>
          <p>
            Price for a day:
            <%= @booking.coworking_space.price %>
          </p>
          <p>
            Total Price:
            <%= @booking.calc_total_price %>
          </p>
          <p>
            Services available:
            <%= @booking.coworking_space.services %>
          </p>
          <p>
            Total Days Booked:
            <%= @booking.calc_total_days_booked %>
          </p>
          <p>
            Location::
            <%= @booking.coworking_space.address %>
          </p>
          <p>
            Capacity:
            <%= @booking.coworking_space.capacity %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

